In [27]:
# Question 1

#importing librararies
import numpy as np
import pandas as pd

In [28]:
#creating the dataframe

df=pd.DataFrame({
    'name':['Isha','Lakshita','Sukriti','Jyoti','Kiran','Hemkesh','Priyanka'],
    'age':[20,20,20,21,21,24,22],
    'mail_id':['panchalisha007@gmail.com','lakshitasolanki@gmail.com','sukriti11@gmail.com','jyoti005@gmail.com','kiran122@gmail.com','hemkesh_america@yahoo.com','priyankaharidas@gmail.com'],
    'phone_no':[9876543210,9876547890,9768954321,9876543298,8907654090,8790654321,9765432109]
})
print(df)

   age                    mail_id      name    phone_no
0   20   panchalisha007@gmail.com      Isha  9876543210
1   20  lakshitasolanki@gmail.com  Lakshita  9876547890
2   20        sukriti11@gmail.com   Sukriti  9768954321
3   21         jyoti005@gmail.com     Jyoti  9876543298
4   21         kiran122@gmail.com     Kiran  8907654090
5   24  hemkesh_america@yahoo.com   Hemkesh  8790654321
6   22  priyankaharidas@gmail.com  Priyanka  9765432109

In [46]:
# Question 2
#Loadind Dataset
df1 = pd.read_csv("https://raw.githubusercontent.com/Shreyas3108/Weather/master/weather.csv")

In [47]:
# 2- a.) First 5 rows of Dataframe 
print(df1.head(5))

        Date  Location  MinTemp  MaxTemp  Rainfall  Evaporation  Sunshine  \
0  11/1/2007  Canberra      8.0     24.3       0.0          3.4       6.3
1  11/2/2007  Canberra     14.0     26.9       3.6          4.4       9.7
2  11/3/2007  Canberra     13.7     23.4       3.6          5.8       3.3
3  11/4/2007  Canberra     13.3     15.5      39.8          7.2       9.1
4  11/5/2007  Canberra      7.6     16.1       2.8          5.6      10.6

  WindGustDir  WindGustSpeed WindDir9am      ...      Humidity3pm  \
0          NW           30.0         SW      ...               29
1         ENE           39.0          E      ...               36
2          NW           85.0          N      ...               69
3          NW           54.0        WNW      ...               56
4         SSE           50.0        SSE      ...               49

   Pressure9am  Pressure3pm  Cloud9am  Cloud3pm  Temp9am  Temp3pm  RainToday  \
0       1019.7       1015.0         7         7     14.4     23.6         No
1       1012.4       1008.4         5         3     17.5     25.7        Yes
2       1009.5       1007.2         8         7     15.4     20.2        Yes
3       1005.5       1007.0         2         7     13.5     14.1        Yes
4       1018.3       1018.5         7         7     11.1     15.4        Yes

   RISK_MM  RainTomorrow
0      3.6           Yes
1      3.6           Yes
2     39.8           Yes
3      2.8           Yes
4      0.0            No

[5 rows x 24 columns]

In [48]:
# 2- b.) First 10 rows of the Dataframe
print(df1.head(10))

         Date  Location  MinTemp  MaxTemp  Rainfall  Evaporation  Sunshine  \
0   11/1/2007  Canberra      8.0     24.3       0.0          3.4       6.3
1   11/2/2007  Canberra     14.0     26.9       3.6          4.4       9.7
2   11/3/2007  Canberra     13.7     23.4       3.6          5.8       3.3
3   11/4/2007  Canberra     13.3     15.5      39.8          7.2       9.1
4   11/5/2007  Canberra      7.6     16.1       2.8          5.6      10.6
5   11/6/2007  Canberra      6.2     16.9       0.0          5.8       8.2
6   11/7/2007  Canberra      6.1     18.2       0.2          4.2       8.4
7   11/8/2007  Canberra      8.3     17.0       0.0          5.6       4.6
8   11/9/2007  Canberra      8.8     19.5       0.0          4.0       4.1
9  11/10/2007  Canberra      8.4     22.8      16.2          5.4       7.7

  WindGustDir  WindGustSpeed WindDir9am      ...      Humidity3pm  \
0          NW           30.0         SW      ...               29
1         ENE           39.0          E      ...               36
2          NW           85.0          N      ...               69
3          NW           54.0        WNW      ...               56
4         SSE           50.0        SSE      ...               49
5          SE           44.0         SE      ...               57
6          SE           43.0         SE      ...               47
7           E           41.0         SE      ...               57
8           S           48.0          E      ...               48
9           E           31.0          S      ...               32

   Pressure9am  Pressure3pm  Cloud9am  Cloud3pm  Temp9am  Temp3pm  RainToday  \
0       1019.7       1015.0         7         7     14.4     23.6         No
1       1012.4       1008.4         5         3     17.5     25.7        Yes
2       1009.5       1007.2         8         7     15.4     20.2        Yes
3       1005.5       1007.0         2         7     13.5     14.1        Yes
4       1018.3       1018.5         7         7     11.1     15.4        Yes
5       1023.8       1021.7         7         5     10.9     14.8         No
6       1024.6       1022.2         4         6     12.4     17.3         No
7       1026.2       1024.2         6         7     12.1     15.5         No
8       1026.1       1022.7         7         7     14.1     18.9         No
9       1024.1       1020.7         7         1     13.3     21.7        Yes

   RISK_MM  RainTomorrow
0      3.6           Yes
1      3.6           Yes
2     39.8           Yes
3      2.8           Yes
4      0.0            No
5      0.2            No
6      0.0            No
7      0.0            No
8     16.2           Yes
9      0.0            No

[10 rows x 24 columns]

In [49]:
# 2- c.) finding basic statistics on the particular dataset.
df1.describe()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RISK_MM
count,366.000000,366.000000,366.000000,366.000000,363.000000,364.000000,359.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000
mean,7.265574,20.550273,1.428415,4.521858,7.909366,39.840659,9.651811,17.986339,72.035519,44.519126,1019.709016,1016.810383,3.890710,4.024590,12.358470,19.230874,1.428415
std,6.025800,6.690516,4.225800,2.669383,3.481517,13.059807,7.951929,8.856997,13.137058,16.850947,6.686212,6.469422,2.956131,2.666268,5.630832,6.640346,4.225800
min,-5.300000,7.600000,0.000000,0.200000,0.000000,13.000000,0.000000,0.000000,36.000000,13.000000,996.500000,996.800000,0.000000,0.000000,0.100000,5.100000,0.000000
25%,2.300000,15.025000,0.000000,2.200000,5.950000,31.000000,6.000000,11.000000,64.000000,32.250000,1015.350000,1012.800000,1.000000,1.000000,7.625000,14.150000,0.000000
50%,7.450000,19.650000,0.000000,4.200000,8.600000,39.000000,7.000000,17.000000,72.000000,43.000000,1020.150000,1017.400000,3.500000,4.000000,12.550000,18.550000,0.000000
75%,12.500000,25.500000,0.200000,6.400000,10.500000,46.000000,13.000000,24.000000,81.000000,55.000000,1024.475000,1021.475000,7.000000,7.000000,17.000000,24.000000,0.200000
max,20.900000,35.800000,39.800000,13.800000,13.600000,98.000000,41.000000,52.000000,99.000000,96.000000,1035.700000,1033.200000,8.000000,8.000000,24.700000,34.500000,39.800000

In [50]:
#df1.describe(include=['object'])
df1.describe(include='all')

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
count,366,366,366.000000,366.000000,366.000000,366.000000,363.000000,363,364.000000,335,...,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366,366.000000,366
unique,366,1,NaN,NaN,NaN,NaN,NaN,16,NaN,16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,2
top,4/15/2008,Canberra,NaN,NaN,NaN,NaN,NaN,NW,NaN,SE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,No
freq,1,366,NaN,NaN,NaN,NaN,NaN,73,NaN,47,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,300,NaN,300
mean,NaN,NaN,7.265574,20.550273,1.428415,4.521858,7.909366,NaN,39.840659,NaN,...,44.519126,1019.709016,1016.810383,3.890710,4.024590,12.358470,19.230874,NaN,1.428415,NaN
std,NaN,NaN,6.025800,6.690516,4.225800,2.669383,3.481517,NaN,13.059807,NaN,...,16.850947,6.686212,6.469422,2.956131,2.666268,5.630832,6.640346,NaN,4.225800,NaN
min,NaN,NaN,-5.300000,7.600000,0.000000,0.200000,0.000000,NaN,13.000000,NaN,...,13.000000,996.500000,996.800000,0.000000,0.000000,0.100000,5.100000,NaN,0.000000,NaN
25%,NaN,NaN,2.300000,15.025000,0.000000,2.200000,5.950000,NaN,31.000000,NaN,...,32.250000,1015.350000,1012.800000,1.000000,1.000000,7.625000,14.150000,NaN,0.000000,NaN
50%,NaN,NaN,7.450000,19.650000,0.000000,4.200000,8.600000,NaN,39.000000,NaN,...,43.000000,1020.150000,1017.400000,3.500000,4.000000,12.550000,18.550000,NaN,0.000000,NaN
75%,NaN,NaN,12.500000,25.500000,0.200000,6.400000,10.500000,NaN,46.000000,NaN,...,55.000000,1024.475000,1021.475000,7.000000,7.000000,17.000000,24.000000,NaN,0.200000,NaN
max,NaN,NaN,20.900000,35.800000,39.800000,13.800000,13.600000,NaN,98.000000,NaN,...,96.000000,1035.700000,1033.200000,8.000000,8.000000,24.700000,34.500000,NaN,39.800000,NaN

In [39]:
# 2- d.) Finding the last 5 rows of the dataframe 
print(df1.tail(5))

           Date  Location  MinTemp  MaxTemp  Rainfall  Evaporation  Sunshine  \
361  10/27/2008  Canberra      9.0     30.7       0.0          7.6      12.1
362  10/28/2008  Canberra      7.1     28.4       0.0         11.6      12.7
363  10/29/2008  Canberra     12.5     19.9       0.0          8.4       5.3
364  10/30/2008  Canberra     12.5     26.9       0.0          5.0       7.1
365  10/31/2008  Canberra     12.3     30.2       0.0          6.0      12.6

    WindGustDir  WindGustSpeed WindDir9am      ...      Humidity3pm  \
361         NNW           76.0        SSE      ...               15
362           N           48.0        NNW      ...               22
363         ESE           43.0        ENE      ...               47
364          NW           46.0        SSW      ...               39
365          NW           78.0         NW      ...               13

     Pressure9am  Pressure3pm  Cloud9am  Cloud3pm  Temp9am  Temp3pm  \
361       1016.1       1010.8         1         3     20.4     30.0
362       1020.0       1016.9         0         1     17.2     28.2
363       1024.0       1022.8         3         2     14.5     18.3
364       1021.0       1016.2         6         7     15.8     25.9
365       1009.6       1009.2         1         1     23.8     28.6

     RainToday  RISK_MM  RainTomorrow
361         No      0.0            No
362         No      0.0            No
363         No      0.0            No
364         No      0.0            No
365         No      0.0            No

[5 rows x 24 columns]

In [40]:
# 2- e.) Extracting the 2nd column and finding basic statistics on it.
print(df1['Location'])

#df1.describe(include='all')
df1['Location'].describe()

0      Canberra
1      Canberra
2      Canberra
3      Canberra
4      Canberra
5      Canberra
6      Canberra
7      Canberra
8      Canberra
9      Canberra
10     Canberra
11     Canberra
12     Canberra
13     Canberra
14     Canberra
15     Canberra
16     Canberra
17     Canberra
18     Canberra
19     Canberra
20     Canberra
21     Canberra
22     Canberra
23     Canberra
24     Canberra
25     Canberra
26     Canberra
27     Canberra
28     Canberra
29     Canberra
         ...
336    Canberra
337    Canberra
338    Canberra
339    Canberra
340    Canberra
341    Canberra
342    Canberra
343    Canberra
344    Canberra
345    Canberra
346    Canberra
347    Canberra
348    Canberra
349    Canberra
350    Canberra
351    Canberra
352    Canberra
353    Canberra
354    Canberra
355    Canberra
356    Canberra
357    Canberra
358    Canberra
359    Canberra
360    Canberra
361    Canberra
362    Canberra
363    Canberra
364    Canberra
365    Canberra
Name: Location, Length: 366, dtype: object

count          366
unique           1
top       Canberra
freq           366
Name: Location, dtype: object